@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&family=Prompt:wght@100;400;700&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Prompt:wght@100;400;700&family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #ed3237;
  --swiper-theme-color: var(--primary-color);
  --hover-color: #232a35;
  --ligth-text-color: #ede7d9;
  --dark-text-color: #110b11;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
}

header {
  width: 100%;
  padding: 4rem 5%;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
    visibility: hidden;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;

    &:hover {
      color: #ed3237;
    }
    color: var(--ligth-text-color);
  }

  .navigation-bar .navigation-list {
    display: flex;

    li {
      margin-right: 2rem;

      a {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--ligth-text-color);

        &:hover {
          color: #ed3237;
        }
        &:active {
          color: var(--primary-color);
        }
      }
      .button {
        padding: 1.2rem 1.6rem;
        background: var(--primary-color);
        border-radius: 30px;
        border: 2px solid var(--primary-color);

        &:hover {
          background: transparent;
          color: var(--ligth-text-color);
        }
      }
    }
  }
}

#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .swiper {
    width: 100%;
    height: 100%;
    animation: zoom 15s linear;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @keyframes zoom {
        0% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    .swiper-text {
      position: absolute;
      top: 50%;
      left: 50%;
      height: auto;
      transform: translate(-50%, -50%);
      text-transform: uppercase;

      p {
        font-size: 3.5rem;
        letter-spacing: -1px;
        font-weight: 700;
        text-align: center;
        color: var(--primary-color);

        h1 {
          text-align: center;
          font-size: 7rem;
          font-weight: 800;
          color: var(--ligth-text-color);
          line-height: 8rem;
        }
      }
      h1 {
        text-align: center;
        font-size: 7rem;
        font-weight: 800;
        color: var(--ligth-text-color);
        line-height: 8rem;
      }
    }
    span {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      color: var(--ligth-text-color);
      font-size: 2rem;
      letter-spacing: -1px;
      text-align: center;

      animation-delay: 5s;

      animation: slowDownSpan 6s;
      @keyframes slowDownSpan {
        0% {
          bottom: 10rem;
          opacity: 0;
        }
        75% {
          bottom: 10rem;
          opacity: 0;
        }
        100% {
          bottom: 5rem;
          opacity: 1;
        }
      }
    }

    i {
      color: var(--ligth-text-color);
      text-align: center;
      font-size: 3rem;
      margin-top: -30px;
      animation: iconMovement 1.2s cubic-bezier(0, 1.89, 0, 1.89) infinite;
      @keyframes iconMovement {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(15px);
        }
      }
    }
  }
}

#classes {
  width: 100%;
  height: 100%;

  h2 {
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    letter-spacing: -1px;
    margin-top: 8rem;
  }

  h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .classes-container {
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 8rem;

    .classe {
      width: 40.5rem;
      height: 25rem;
      cursor: pointer;
      margin-bottom: 8rem;

      .classe-image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
          filter: grayscale(1);
        }
      }
      .text {
        width: 100%;
        height: auto;
        text-align: center;

        span {
          display: inline-block;
          margin-top: 1rem;
          text-transform: uppercase;
          font-size: 1.8rem;
          font-weight: 700;
          color: var(--primary-color);
        }

        h3 {
          font-size: 2rem;
          text-transform: uppercase;
          margin-top: 1.5rem;
          padding-bottom: 2rem;
          font-weight: 700;
          color: var(--dark-text-color);
        }
      }

      &:hover h3 {
        color: var(--ligth-text-color);
      }
      &:hover .text {
        background: var(--hover-color);
      }
      &:hover {
        transform: scale(1.02);
      }
      &:hover img {
        filter: grayscale(0);
      }
    }
  }
}

// --- RESPONSIVO ---
@media (max-width: 768px) {
  header #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    visibility: visible;
  }
  .navigation-bar {
    display: none;
  }
  .navigation-bar.active {
    display: inline-block;

    .navigation-list {
      position: absolute;
      height: 43rem;
      top: 99%;
      left: 0;
      right: 0;
      flex-direction: column;
      border-bottom: 3px solid var(--dark-text-color);
      /* From https://css.glass */
      /* From https://css.glass */
      background: rgba(0, 0, 0, 0.63);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.5px);

      li {
        margin-top: 4rem;
        margin-left: 4rem;
        display: block;
        position: relative;
        a {
          font-weight: 400;
        }
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background: var(--primary-color);
          position: absolute;
          bottom: -1rem;
        }

        .button {
          padding: 0;
          background: transparent;
          font-size: 2rem;
          font-weight: 700;
          border: none;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .home {
    .swiper {
      .swiper-text {
        .text-shine {
          font-size: 2.5rem;
        }
        h1 {
          font-size: 6rem;
          line-height: 6rem;
        }
      }
    }
  }
}
