@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&family=Prompt:wght@100;400;700&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Prompt:wght@100;400;700&family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  transition: all 0.3s linear;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #ed3237;
  --hover-color: #0e273c;
  --ligth-text-color: #ede7d9;
  --dark-text-color: #110b11;
}

body {
  background: rgb(46, 46, 46);
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  padding: 4rem 5%;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
    visibility: hidden;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;

    &:hover {
      color: #ed3237;
    }
    color: var(--ligth-text-color);
  }

  .navigation-bar .navigation-list {
    display: flex;

    li {
      margin-right: 2rem;

      a {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--ligth-text-color);

        &:hover {
          color: #ed3237;
        }
      }
      .button {
        padding: 1.5rem 2rem;
        background-color: #ed3237;
        border-radius: 30px;

        &:hover {
          background: var(--hover-color);
          color: var(--ligth-text-color);
        }
      }
    }
  }
}

// --- RESPONSIVO ---
@media (max-width: 768px) {
  header #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    visibility: visible;

    .fa-times {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .navigation-bar {
    display: none;
  }
  .navigation-bar.active {
    display: inline-block;

    .navigation-list {
      position: absolute;
      top: 99%;
      left: 2rem;
      right: 0;
      flex-direction: column;

      li {
        margin-top: 4rem;
        display: block;
        position: relative;
        a {
          font-weight: 400;
        }
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background: var(--primary-color);
          position: absolute;
          bottom: -1rem;
        }

        .button {
          padding: 0;
          background: transparent;
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
}
