@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&family=Prompt:wght@100;400;700&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Prompt:wght@100;400;700&family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #ed3237;
  --swiper-theme-color: var(--primary-color);
  --hover-color: #0e273c;
  --ligth-text-color: #ede7d9;
  --dark-text-color: #110b11;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  padding: 4rem 5%;
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

header #menu-btn {
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
  visibility: hidden;
}

header .logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--ligth-text-color);
}

header .logo:hover {
  color: #ed3237;
}

header .navigation-bar .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation-bar .navigation-list li {
  margin-right: 2rem;
}

header .navigation-bar .navigation-list li a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--ligth-text-color);
}

header .navigation-bar .navigation-list li a:hover {
  color: #ed3237;
}

header .navigation-bar .navigation-list li a:active {
  color: var(--primary-color);
}

header .navigation-bar .navigation-list li .button {
  padding: 1.2rem 1.6rem;
  background: var(--primary-color);
  border-radius: 30px;
  border: 2px solid var(--primary-color);
}

header .navigation-bar .navigation-list li .button:hover {
  background: transparent;
  color: var(--ligth-text-color);
}

.home {
  width: 100%;
  height: 100vh;
}

.home .swiper {
  width: 100%;
  height: 100%;
}

.home .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: left;
}

.home .swiper .swiper-horizontal > .swiper-pagination-progressbar,
.home .swiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
.home .swiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.home .swiper .swiper-vertical
> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 10%;
  height: 6px;
  text-align: center;
  top: 99%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  header #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    visibility: visible;
  }
  header #menu-btn .fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .navigation-bar {
    display: none;
  }
  .navigation-bar.active {
    display: inline-block;
  }
  .navigation-bar.active .navigation-list {
    position: absolute;
    top: 99%;
    left: 2rem;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation-bar.active .navigation-list li {
    margin-top: 4rem;
    display: block;
    position: relative;
  }
  .navigation-bar.active .navigation-list li a {
    font-weight: 400;
  }
  .navigation-bar.active .navigation-list li::before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: -1rem;
  }
  .navigation-bar.active .navigation-list li .button {
    padding: 0;
    background: transparent;
    font-size: 2rem;
    font-weight: 700;
  }
}
/*# sourceMappingURL=global.css.map */