<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--FONT AWESOME-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <!--SWIPER JS-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="stylesheet" href="styles/global.css" />
  <title>Be Fit Academia</title>
</head>

<body>
  <header class="header">
    <a href="#" class="logo">BE FIT</a>
    <nav class="navigation-bar">
      <ul class="navigation-list">
        <li><a href="">Home</a></li>
        <li><a href="">Trainer</a></li>
        <li><a href="">Classes</a></li>
        <li><a href="">Schedule</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="" class="button">Join US</a></li>
      </ul>
    </nav>
    <div id="menu-btn" class="fas fa-bars"></div>
  </header>
  <!--SECTION HOME-->
  <section class="home">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-text">
            <p class="text-title"></p>
          </div>
          <span>Começar Hoje! <br> <a href="#"><i class="fas fa-angle-down"></i></a></span>

          <picture>
            <source media="(max-width: 630px)" srcset="styles/images/bg-1-mobile.png" type="image/jpg" />
            <img src="styles/images/bg-2.jpg" alt="um Homem e uma mulher se exercitando" />
          </picture>
        </div>
        <div class="swiper-slide">
          <div class="swiper-text">
            <p class="text-title">O impossivél</p>
            <h1>É só questão de persistência</h1>
          </div>
          <span>Começar Hoje! <br> <a href="#"><i class="fas fa-angle-down"></i></a></span>
          <img src="styles/images/bg-1.jpg" alt="Mulher ruiva se exercitando" />
        </div>
        <div class="swiper-slide">
          <div class="swiper-text">
            <p class="text-title">O corpo alcança</p>
            <h1>O que a mente acredita</h1>
          </div>
          <span>Começar Hoje! <br /><a href="#"></a>

            <i class="fas fa-angle-down"></i></a></span>
          <img src="styles/images/bg-3.jpg" alt="Homem levantando barra" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </section>

  <script src="js/main.js"></script>
</body>

</html>